@inject IPostRepo PostRepo

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var post in posts)
    {
        <div class="card" style="width: 32rem; margin-bottom: 2%">
            <div class="card-body">
                <a>BRUGER</a>
                <p class="card-text">@post.CreationDate</p>
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Description</p>
                <p class="card-text">@post.Location</p>
            </div>
            @if (post.Picture != null)
            {
                <img src="@post.Picture" class="card-img-top" alt="Billede ikke fundet"
                     style="max-width: 100%; max-height: 80%;">
            }
            <br />
            <div style="display: flex; gap: 1rem;">
@*                 <InputSelect @bind-Value="allPosts">
                    <option value="">Teknik</option>
                </InputSelect>
                <InputSelect @bind-Value="allPosts">
                    <option value="">Blink</option>
                </InputSelect> *@
                <p>Teknik</p>
                <p>Blink</p>
            </div>
            <hr />
            <a>KOMMENTARER</a>
        </div>
    }
}

@code {
    [Inject]
    private IPostRepo postRepo { get; set; }

    private List<Post> posts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        posts = await postRepo.GetAllPosts();
    }
}