@inject IPostRepo PostRepo

@if (allPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var post in allPosts)
    {
        <div class="card" style="width: 18rem; margin-bottom: 2%" >
            <div class="card-body">
                <a>BRUGER</a>
                <p class="card-text">@post.CreationDate</p>
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Description</p>
                <p class="card-text">@post.Location</p>
            </div>
            @if (post.Picture != null)
            {
                <img src="@post.Picture" class="card-img-top" alt="Billede ikke fundet">
            }
            <div style="display: flex; gap: 1rem;">
                <InputSelect @bind-Value="allPosts">
                    <option value="">Teknik</option>
                </InputSelect>
                <InputSelect @bind-Value="allPosts">
                    <option value="">Blink</option>
                </InputSelect>
            </div>
            <hr />
            <a>KOMMENTARER</a>
        </div>
    }
}

@code {
    [Inject]
    private IPostRepo postRepo { get; set; }

    private List<Post> allPosts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        allPosts = await postRepo.GetAllPosts();
    }
}