@page "/Profile/{id}"

@inject IProfileRepo profileRepo
@inject AuthenticationStateProvider AuthenticationStateProvider


@if (profile == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row align-items-center">
        <div class="col-auto">
            <img width="200" height="200" src="@profile.ImagePath" class="rounded-circle"  />
        </div>
        <div class="col">
            <h3>@profile.UserName</h3>
           
                <a class="btn btn-light" style="border-color:black;" href="@ChatUrl">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                    </svg> Chat
                </a>
            

        </div>
    </div>


    @* Componet for viewing all posts - sorted after creationDate *@
    <div style="margin: auto; width: 50%;">
        <PostRead UserId="@id" IsProfilePage="@true"></PostRead>
    </div>
}


@code {
    [Parameter]
    public string id { get; set; }
    private Profile profile { get; set; }
    public string ChatUrl{ get; set; }
    private string activeUserId{ get; set; }
    protected override async Task OnInitializedAsync()
    {
        ChatUrl = "/chat/" + id;
        profile = await profileRepo.GetProfileById(id);
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        id = state.User.FindFirst("sub")?.Value; // or ClaimTypes.NameIdentifier
       
    }
      // private string? userId;
}
